@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('./fonts/nunito.woff2') format('woff2'),
      url('./fonts/nunito.woff') format('woff');
  }
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('./fonts/jetbrains-mono.woff2') format('woff2'),
      url('./fonts/jetbrains-mono.woff') format('woff');
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-zinc-300 dark:bg-zinc-700;
  }

  ::-moz-selection {
    @apply bg-primary-500 text-white dark:bg-primary-700;
  }

  ::selection {
    @apply bg-primary-500 text-white dark:bg-primary-700;
  }

  html,
  body,
  #__next {
    @apply text-zinc-600 antialiased dark:bg-zinc-900 dark:text-zinc-400;
  }
  #__next {
    @apply flex min-h-screen flex-col;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

/* Syntax Highlighting */

.prose pre code {
  font-variant-ligatures: none;
  @apply rounded-none p-0;
}

[class*='language-'] .namespace {
  @apply opacity-80;
}

.token.attr-name,
.token.builtin,
.token.class {
  @apply text-yellow-500 dark:text-yellow-300;
}

.token.id,
.token.important {
  @apply font-bold text-purple-500 dark:text-purple-400;
}

.token.symbol,
.token.keyword,
.token.constant,
.token.boolean,
.token.atrule,
.token.function {
  @apply text-purple-500 dark:text-purple-400;
}

.token.unit,
.token.number {
  @apply text-red-400 dark:text-red-300;
}

.token.doctype,
.token.prolog,
.token.comment {
  @apply text-zinc-400 dark:text-zinc-500;
}

.token.char,
.token.cdata,
.token.inserted,
.token.punctuation,
.token.operator,
.token.property {
  @apply text-blue-500 dark:text-blue-300;
}

.token.regex,
.token.class-name,
.token.hexcode {
  @apply text-yellow-500 dark:text-yellow-300;
}

.token.string,
.token.pseudo-element,
.token.attribute,
.token.attr-value,
.token.pseudo-class {
  @apply text-green-500 dark:text-green-400;
}

.language-css > code,
.language-sass > code,
.language-scss > code,
.token.url,
.token.variable,
.token.tag,
.token.entity,
.token.deleted,
.token.selector {
  @apply text-red-500 dark:text-red-400;
}

.line-number::before {
  content: attr(line);
  @apply mr-5 text-zinc-400 dark:text-zinc-500;
}
