@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('./fonts/quicksand.woff2') format('woff2'),
      url('./fonts/quicksand.woff') format('woff');
  }

  html,
  body,
  #__next {
    @apply h-screen text-zinc-600 dark:bg-zinc-900 dark:text-zinc-400;
  }
  #__next {
    @apply flex flex-col;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
